/* CSS Document */

/* TAGs */
*{
	margin: 0;
	padding: 0;
	border: solid #000 0;
	font-family: Arial, Tahoma;
	box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

object{
	width:100%;
	min-height: 800px;
	position: relative;
	object-fit: cover;
}

body{
	color: #000;
	background-color: #1B1B1B;
	font-weight: normal;
}

/* Klassen */
#button{
	margin: 10px;
	border-radius: 5px;
	color: white;
}

a{
	color: white;
}

a:visited{
	color: white;
}

.navbar{
	margin: 0px !important;
	margin-left: 0px !important;
	padding: 0px !important;
}

#mail{
	color: #0000EE;
}

.beitrag{
	color: #000;
	background-color: white;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 2px 2px grey gradient;
	min-height: 800px;
}

.beitrag:hover{
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 1);

	/*box-shadow: 10px 10px 5px #888888;*/
}

/* DIVs & SPANs */
#bild{
	color: #000;
	background-image:url(../img/vernetzung_hintergrundbild.jpg);
	background-size: 100.1%;
	background-attachment: fixed;
	/*position: fixed;*/
	width: 100.1%;
	height: 100.1%;
	float: left;
}
#wrap{
	font-size: 100.1%;
	width: 1100px ;
	min-height: 900px;
	margin: 10px auto;
	float: center;
	position: relative;
}

#content{
	margin: 0;
	padding: 0;
	float: left;
	border:solid: 1px;
	width: 100vh;
	height: 100vh;
}

#footer{
	color: #000;
	/*background-color: #E4E4E4;*/
	background-image: linear-gradient(to top, #B7B7B7 0%, #D3D3D3 50%);	font-size: 100.1%;
	min-height: 30px;
	min-width: 890px;
	clear: both;
	border: 1px;
	text-align: right;
	padding: 10px 10px 0 0;
}
