/* CSS Document */

/* Formatierung der Hauptseite */
*{
	margin: 0;
	padding: 0;
	border: solid #000 0;
	font-family: Arial, Tahoma;
	box-sizing: border-box;
}

body{
	color: #000;
	background-color: #1B1B1B;
	font-weight: normal;
	font-family: Arial, Tahoma;
}

.navbar{
	margin: 0px !important;
	margin-left: 0px !important;
	padding: 0px !important;
	width: 100%;
}

#mail{
	color: #0000EE;
}

.beitrag{
	color: #000;
	background-color: white;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 2px 2px grey gradient;
}

.beitrag:hover{
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 1);
}

.beitragform{
	color: #000;
	background-color: white;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 2px 2px grey gradient;
}

.beitragform:hover{
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 1);
}

/* DIVs & SPANs */
#bild{
	color: #000;
	background-image:url(../img/vernetzung_hintergrundbild.jpg);
	background-size: 100.1%;
	background-attachment: fixed;
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	float: left;
}

#wrap{
	font-size: 100.1%;
	width: 1100px ;
	min-height: 900px;
	margin: 10px auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 0 300px;
}

#content{
	margin: 0;
	padding: 0;
	float: left;
	border:solid: 1px;
	width: 100vh;
	height: auto;
}

.beitrag object{
	position: relative;
	object-fit: cover;
	width:100%;
	height: 1000px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c:  maroon;
    color: white;
    font-size: 14px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 100%;
    max-width: 300px;
    min-width:242px;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 100%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

#Inhalt1{height: 100%;}
#Inhalt2{height: 100%;}
#Inhalt3{height: 100%;}
#Inhalt4{height: 100%;}
#Inhalt5{height: 100%;}
#Inhalt6{height: 100%;}
#Inhalt7{height: 100%;}
#Inhalt8{height: 100%;}
#Inhalt9{height: 100%;}
#Inhalt10{height: 100%;}
#Inhalt11{height: 100%;}
#Inhalt12{height: 100%;}
#Inhalt13{height: 100%;}